* {
    margin: 0px;
    padding: 20px;

}
body{
    background: greenyellow;
    font-size: 14 px;

}
.container{
     width: 80%;
       margin: 40px auto;
}
.contact-box{
    background: whitesmoke;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 20px 40px;
    
}
.contact-right{
    flex-basis: 40%;
    padding: 10px 20px;
    background: lawngreen;
    color: whitesmoke;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;

}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;

}
.textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline:none;
    padding: 10px;
    box-sizing: border-box;
}